<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Servidor" value="localhost" />
    <add key="Puerto" value="3306" />
    <add key="Usuario" value="root" />
    <add key="BaseDatos" value="catalogos" />
    <add key="RutaEntrada" value="C:\subir_archivos" />
    <add key="RutaPlantillas" value="C:\plantillas_exportacion" />
    <add key="RutaReportes" value="C:\Reportes_canales" />
  </appSettings>
</configuration>
